%div#create_spot_form
  = form_for(@spot) do |f|
    = f.hidden_field :user_id, value: current_user.id
    %ul.left

      %li= f.label :address_1
      %li= f.text_field :address_1

      %li= f.label :address_2
      %li= f.text_field :address_2

      %li= f.label :city
      %li= f.text_field :city

      %li= f.label :state
      %li= f.text_field :state

      %li= f.label :zip_code
      %li= f.text_field :zip_code

      %li= f.label :filepicker_url, 'Image of Spot'
      %li= f.filepicker_field :filepicker_url

    %ul.right
      %li= f.label :description
      %li= f.text_area :description, placeholder: 'A little bit of information on what the spot is.'

      %li= f.label :additional_info
      %li= f.text_area :additional_info
      %li= f.submit 'Create Spot', class: 'submit', id: 'create_spot'
