%div.full_size_spot
  %div.filepicker_url= filepicker_image_tag @spot.filepicker_url
  %div.description
    %ul#desc
      %p.address
        = @spot.address_1
        = @spot.address_2
        = @spot.city
        ,
        = @spot.state
        = @spot.zip_code
      %li=label_tag :Description
      %li= @spot.description

    %ul#additional_info
      %li= label_tag :Additional_Info
      %li= @spot.additional_info
    - if current_user.present? && current_user.admin?
      %div= link_to 'Edit Spot', edit_spot_path(@spot.id)
