%div.full_size_spot
  %div.filepicker_url= filepicker_image_tag @spot.filepicker_url
  %div.description
    %ul#desc
      %p.address
        = @spot.address_1
        = @spot.address_2
        = @spot.city
        ,
        = @spot.state
        = @spot.zip_code
      %li=label_tag :Description
      %li= @spot.description

    %ul#additional_info
      %li= label_tag :Additional_Info
      %li= @spot.additional_info
    - if current_user.present? && current_user.admin?
      %div= link_to 'Edit Spot', edit_spot_path(@spot.id)
%div
  %ul.view_comment
    - @comments.each do |comment|
      %li.comment
        %span.comment_username
          = comment.user.username
        %span.comment_username :
        %span.comment_text
          = comment.comment
  %div.new_comment
    = form_for(@comment) do |f|
      = f.hidden_field :spot_id, value: @spot.id
      %li
        Comment
      %li= f.text_area :comment, class: 'comment_area'

      %li= f.submit 'Post Comment', class: 'post_comment'
