%div
  %p
    = current_user.username
    - if current_user.admin?
      (Admin)
  %div= filepicker_image_tag current_user.filepicker_url

%div
  %p
    Spots that
    = current_user.username
    created

  %div
    - current_user.spots do |spot|
      %ul
        %li
          = spot.address_1
          = spot.address_2
        %li
          = spot.city
          ,
          = spot.state
          = spot.zip_code
        %li.home_images= link_to(filepicker_image_tag(spot.filepicker_url), spot_path(spot.id))
