- if @spots.present?
  - @spots.each do |spot|
    %div.spot
      %ul
        %li
          = spot.address_1
          = spot.address_2
        %li
          = spot.city
          = spot.state
          = spot.zip_code
        %li.spot_li= spot.description
        %li.spot_li= spot.additional_info
        - if current_user.present? && current_user.admin?
          = link_to 'Delete Spot', spot_path(spot), method: :delete, confirm: 'Are you sure?', class: 'delete'
