= form_tag(root_path, method: :get) do
  = text_field_tag :search
  = submit_tag 'Search', class: 'search'
- if @spots.present?
  - @spots.each do |spot|
    %div.spot
      %ul
        %li
          = spot.address_1
          = spot.address_2
        %li
          = spot.city
          ,
          = spot.state
          = spot.zip_code
        %li.home_images= link_to(filepicker_image_tag(spot.filepicker_url), spot_path(spot.id))
- else
  %p#seach_error
    Sorry, no spots match your search

= will_paginate @spots
