%head
  %title Skatespotsmap
  = stylesheet_link_tag    "application", media: "all"
  = javascript_include_tag "jquery", "application"
  = filepicker_js_include_tag
  = csrf_meta_tags

%body#main
  %div.links
    %h1
      = link_to 'Skate Spots Map', root_path, id: 'header_link'
    = link_to 'About Site', about_path, class: 'layout_link'
    - if signed_in?
      = link_to 'Create Spot', new_spot_path, class: 'layout_link'
    - else
      = link_to 'Create Spot', new_user_path, class: 'layout_link'
  - if signed_in?
    %div.username_div
      %span.username
        = current_user.username
        (admin)
      = link_to 'Sign Out', sign_out_path, method: :delete, class: 'layout_link', id: 'sign_out'
  = yield
