%head
  %title Skatespotsmap
  = stylesheet_link_tag    "application", media: "all"
  = javascript_include_tag "application"
  = csrf_meta_tags

%body#main
  - if signed_in?
    %div
      = link_to current_user.username, spots_path, class: 'username'
      = link_to 'Create Spot', new_spot_path, class: 'create_link'
      = link_to 'Sign Out', sign_out_path, method: :delete, id: 'sign_out'
  - else
    = link_to 'Sign In', new_user_path, class: 'sign_in'
  = yield
